<launch>
	<include file="/home/oscar/Documents/catkin_ws/src/summit_gmapping/launch/mapping_launcher.launch"/>
	<!-- <include file="/home/oscar/Documents/catkin_ws/src/target_tracker/launch/target_tracker.launch"/> -->

	<!-- <include file="/home/oscar/Documents/catkin_ws/src/summit_xl_explore/launch/summit_xl_explore_launcher.launch"/> -->
	<!-- <include file="/home/oscar/Documents/catkin_ws/src/summit_xl_move/launch/summit_xl_move_base_odom_launcher.launch"/> -->

	<!-- <include file="/home/oscar/Documents/catkin_ws/src/keyboard_movement/launch/keyboard_teleop.launch"/> -->

	<!--if static map does not exist then run the mapping launcher-->
	<!-- <include file="/home/oscar/Documents/catkin_ws/src/summit_gmapping/launch/amcl_launcher.launch"/> -->
	<!-- <include file="/home/oscar/Documents/catkin_ws/src/summit_gmapping/launch/map_provider.launch"/> -->

	<!--intended to be custom search algorithm-->
	<!-- <include file="/home/oscar/Documents/catkin_ws/src/confined_environment_search/launch/confined_environment_search.launch"/> -->
</launch>
<!--  -->
